body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    background: linear-gradient(
        135deg,
        #000000 0%,
        #052e16 50%,
        #22c55e 100%
    );
}



/* Contenedor */
.container {
    animation: fadeIn 1.5s ease;
}

/* Imagen */
.photo-box img {
    width: 300px;
    max-width: 90%;
    border-radius: 20px;
    transition: 0.4s ease;

    /* Resplandor verde */
    box-shadow: 
        0 0 20px rgba(34, 197, 94, 0.6),
        0 0 60px rgba(34, 197, 94, 0.4);
}

.photo-box img:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 30px rgba(34, 197, 94, 0.8),
        0 0 80px rgba(34, 197, 94, 0.6);
}

/* Frase */
.phrase {
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #bbf7d0;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title{
    font-size: 28px;
    font-weight: bold;
}
/* BOTÓN MUSICA */
.music-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(220,38,38,0.85);
    border: none;
    color: white;
    font-size: 22px;
    padding: 14px 16px;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
    z-index: 100;
    box-shadow: 0 0 15px rgba(220,38,38,0.6);
    transform: translateY(30px);
    opacity: 0;
}

.music-btn.show {
    transform: translateY(0);
    opacity: 1;
}

.music-btn.playing {
    animation: pulseMusic 1.5s infinite;
    box-shadow: 0 0 25px rgb(82, 239, 68);
}

@keyframes pulseMusic {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

/* Corazones flotando */
.floating-heart {
    position: fixed;
    font-size: 18px;
    animation: floatUp 2s ease forwards;
    pointer-events: none;
    z-index: 200;
}

@keyframes floatUp {
    from { opacity: 1; transform: translateY(0) scale(1); }
    to { opacity: 0; transform: translateY(-80px) scale(1.5); }
}